/* Contenedor principal del carrusel */
.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  height: 450px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

/* Imágenes del carrusel */
.slide {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra todo el contenedor */
  transition: opacity 1s ease-in-out; /* Transición para las imágenes */
}

.slide-hidden {
  position: absolute;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 150vh; /* Asegura que ocupe toda la pantalla */
  overflow: hidden;
}

.carousel-content {
  position: absolute;
  top: 0%; /* Puedes ajustar esto para cambiar la posición vertical de los componentes */
  left: 50%;
  height: auto;
  transform: translateX(-50%); /* Centra los componentes horizontalmente */
  z-index: 1; /* Hace que los componentes estén sobre las imágenes */
  color: white; /* Color del texto para asegurarse que se vea sobre el fondo */
  text-align: center; /* Centra los textos dentro del contenedor */
}

.carousel-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Hace que las imágenes queden en el fondo */
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(1.1); /* Efecto de aumentar el tamaño */
}

.arrow-left {
  left: 1rem;
}

.arrow-right {
  right: 1rem;
}

/* Indicadores de navegación */
.indicators {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.indicator {
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  margin: 0 5px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.indicator:hover {
  transform: scale(1.2);  /* Efecto de aumento en hover */
}

.indicator-inactive {
  background-color: rgba(255, 255, 255, 0.6);
}

.indicator-active {
  background-color: white;
  border-color: white;
}

.carousel-content .reuse-info,
.carousel-content .benefits-section {
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .carousel-container {
    height: 280vh;

  }
}

@media (max-width: 768px) {
  .carousel-container {
    height: 300vh;

  }
}

@media (max-width: 480px) {
  .reuse-info__intro {
    font-size: 35px; /* Ajusta aún más el tamaño en pantallas muy pequeñas */
    width: 100%; /* Hace que ocupe el 100% del ancho disponible */
  }
  .tipografia-home2 {
    font-size: 35px;
    width: 100%;
  }
  .carousel-container {
    height: 290vh;

  }
}