/* Contenedor principal */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .form-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .form-description {
    font-size: 1rem;
    color: #666;
    margin-bottom: 2rem;
    text-align: center;
    width: 100%;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .form-group {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  
  .input-form {
    flex: 1;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  .form-group input {
    width: 48%;
  }
  
  .btn-form {
    padding: 12px 20px;
    background-color: #c3e374;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .btn-form:hover {
    background-color: #709208;
  }
  
  @media screen and (max-width: 768px) {
    .form-group input {
      width: 100%;
    }
  }
  