.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  background-color: #f8f8f8;
}

.header__socials,
.header__actions {
  display: flex;
  align-items: center;
  z-index: 1;
}

.header__socials a {
  margin-right: 1px;
  color: #333;
  font-size: 1.2rem;
  margin-left: 10px;
}

.header__socials a:hover {
  color: #ffa500;
}

.header__logo {
  display: none;
}

.header__logo-image {
  height: 80px;
  width: auto;
}

.header__actions button {
  background: none;
  border: none;
  margin-left: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  color: #333;
}

.header__login-button,
.header__login-icon {
  font-size: 1.1rem;
  color: #333;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -5px;
}

.header__login-icon:hover {
  background-color: #e59400;
}

.header__cart-button:hover {
  background-color: #e59400;
}

.header__cart-count {
  background-color: #ffa500;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.8rem;
  margin-left: 5px;
}

@media (max-width: 768px) {
  .header {
    padding: 10px;
    justify-content: space-between;
  }

  .header__logo {
    display: block;
  }

  .header__logo-image {
    height: 60px;
    margin-top: 0;
  }

  .header__socials {
    margin-left: 10px;
  }

  .hamburger-menu {
    display: block;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 20px;
  }

  .header__login-icon {
    display: inline;
    font-size: 1.5rem;
    color: #333;
    margin-left: 10px;
  }

  .header__login-button {
    display: none;
  }

  .header__socials {
    display: none;
  }
}

.header__profile-menu {
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: #ffffff;
  border: 1px solid #d4af37;
  border-radius: 12px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  width: 240px;
  z-index: 100;
  text-align: center;
  overflow: hidden;
}

.profile-menu-item {
  padding: 15px 20px;
  font-size: 16px;
  color: #333333;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.profile-menu-item:hover {
  background-color: #f9f9f9;
  color: #4a4a4a;
}

.profile-menu-item.greeting {
  background-color: transparent;
  color: #555555;
  font-weight: bold;
  cursor: default;
  pointer-events: none;
}

.logout-button {
  width: 100%; /* Asegura que ocupe todo el ancho del menú */
  background-color: transparent;
  border: none;
  text-align: center;
  padding: 12px 0; /* Espaciado uniforme */
  font-size: 16px;
  color: #e74c3c; /* Rojo */
  cursor: pointer;
  transition: color 0.3s ease;
}

.logout-button:hover {
  color: #e74c3c;
  background-color: #f9f9f9;
}

.profile-menu-separator {
  height: 1px;
  background-color: #d4af37;
  margin: 0;
}
