.reuse-info {
  text-align: center;
  padding: 20px;
  margin: 20px 0;
  
  border-radius: 8px;
}
  
  .reuse-info__intro {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
  }
  
  .reuse-info__counter {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffa500;
    margin-bottom: 20px;
  }

  .tipografia-home {
    font-family: 'DynaPuff', sans-serif;
    font-weight: 400;
    font-size: 2.5rem;

    color: white;
    margin-bottom: 20px;
  }

  .tipografia-home2 {
    font-family: "Mansalva", sans-serif;
    font-weight: 700;    /* Esto hará que el texto sea más grueso */
    font-size: 3rem;
    color: white;
  
  }
  .tipografia-home3 {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    color: white;
  
  }


  
  .reuse-info__count {
    color: #c0e354;
  }
  
  .reuse-info__impact {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .reuse-info__impact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
  }
  
  .reuse-info__icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  
  .reuse-info__impact-item p {
    font-size: 0.9rem;
    color: #555;
    text-align: center;
  }
  